<!-- Header -->
<div class="relative bg-red-600 md:pt-16 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <div>
        <app-cm-ticker-container ></app-cm-ticker-container>
      </div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 hover-animate">
          <app-card-stats statSubtitle="View Passes" statTitle="45" 
            statPercentColor="text-emerald-500" statDescripiron="Pending passes for approval" statIconName="far fa-chart-bar"
            statIconColor="bg-red-500"></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 hover-animate">
          <app-card-stats statSubtitle="NEW USERS" statTitle="4"
            statPercentColor="text-red-500" statDescripiron="Pending users for validations" statIconName="fas fa-chart-pie"
            statIconColor="bg-orange-500"></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 hover-animate">
          <app-card-stats statSubtitle="RFID" statTitle="43" 
            statPercentColor="text-orange-500" statDescripiron="RFID Pending Request" statIconName="fas fa-users"
            statIconColor="bg-pink-500"></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4 hover-animate">
          <app-card-stats statSubtitle="Blacklist/Restore" statTitle="436"
            statPercentColor="text-emerald-500" statDescripiron="Blacklist/Restore Users and Vehicle" statIconName="fas fa-percent"
            statIconColor="bg-emerald-500"></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>