.ticker-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: transparent;
  color: white;
}

.ticker-move {
  display: inline-block;
  animation: ticker 30s linear infinite;
}

@keyframes ticker {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}