@if(open){
<div class="flex-1 overflow-y-auto scroll-smooth scrollbar-thin fixed top-0 right-0 h-screen w-1/2 bg-white z-50 shadow-xl
         transform transition-transform duration-1000 ease-in-out
         translate-x-full" [class.translate-x-0]="open">

    <!-- Header -->
    <div class="flex items-center justify-between p-4 border-b">
        <h2 class="text-lg font-semibold ">
            {{ actionType === 'view' ? 'View Role' : 'Edit Role' }}
        </h2>

        <button class="text-gray-500 hover:text-black text-xl" (click)="close()">
            ✕
        </button>
    </div>

    <!-- Body -->
    <div class="container mx-auto px-4 h-full">
        <div class="flex mt-6 justify-center h-full">
            <div class="w-full lg:w-12/12 px-4">
                <div
                    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
                    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                        <form [formGroup]="signUpForm" class="mt-6">
                            <div class="relative w-full mb-3">
                                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Role Name
                                </label>
                                <app-cm-input placeholder="Role Name" formControlName="roleName"
                                    [readOnly]="this.actionType == 'view'"></app-cm-input>
                            </div>

                            <div class="relative w-full mb-3">
                                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Description
                                </label>
                                <app-cm-textarea placeholder="Description" formControlName="description"
                                    [readOnly]="this.actionType == 'view'"></app-cm-textarea>
                            </div>


                            <div class="flex gap-6 mt-6">

                                <app-cm-button [disabled]="this.actionType == 'view'"
                                    class="flex-1 bg-blueGray-600 text-white rounded shadow click-btn btn-style3"
                                    btnText="Submit">
                                </app-cm-button>


                                <app-cm-button class="flex-1 bg-red-700 text-white rounded shadow click-btn btn-style3"
                                    btnText="Cancel" (clicked)="close()">
                                </app-cm-button>
                            </div>

                            @if(viewerOpen){
                            <div class="fixed inset-0 bg-black/50 z-40" (click)="closeViewer()"></div>

                            <div class="fixed top-0 right-0 h-screen bg-white z-50 shadow-xl
         w-full sm:w-4/5 md:w-2/3 lg:w-1/2
         flex flex-col">

                                <!-- HEADER -->
                                <div class="flex justify-between items-center p-4 border-b">
                                    <h2 class="text-lg font-semibold">
                                        {{ documents[currentIndex].name }}
                                    </h2>

                                    <button class="text-2xl" (click)="closeViewer()">✕</button>
                                </div>
                            </div>
                            }

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}