.details-box,
.edit-form {
  padding: 20px;
  width: 350px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

input {
  margin: 8px 0;
  padding: 8px;
  width: 100%;
  display: block;
}

button {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
}

.btn-edit {
  background: #007bff;
  color: white;
}

.btn-save {
  background: #28a745;
  color: white;
}

.btn-cancel {
  background: #dc3545;
  color: white;
  margin-left: 10px;
}



.bg-form-theme {
  background: linear-gradient(
    135deg,
    #f8fafc 0%,
    #e2e8f0 40%,
    #cbd5e1 100%
  );
}


.title {
  font-family: "Exo", sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
  font-variation-settings: "wght" 100;
  transition: font-variation-settings 1s ease-out;
  &:hover {
    font-variation-settings: "wght" 1000;
  }
}

