input[type="file"] {
  margin: auto;
  padding: 1.5em;
  border: 2px dashed #bbb;
  background-color: #fff;
  transition: border-color .25s ease-in-out;

  &::file-selector-button {
    padding: 1em 1.5em;
    border-width: 0;
    border-radius: 2em;
    background-color: hsl(210 70% 30%);
    color: hsl(210 40% 90%);
    transition: all .25s ease-in-out;
    cursor: pointer;
    margin-right: 1em;
  }

  &:hover {
    border-color: #888;

    &::file-selector-button {
      background-color: hsl(210 70% 40%);
    }
  }
}