<div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
        <div class="w-full lg:w-6/12 px-4">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
                <div class="rounded-t mb-0 px-6 py-6">
                    <div class="text-center mb-3">
                        <h6 class="text-blueGray-500 text-lg font-bold">Pass Issuance System</h6>
                    </div>
                    <hr class="mt-6 border-b-1 border-blueGray-300" />
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <div class="text-blueGray-400 text-center mb-3 font-bold">
                        <small>--- Company Registration ---</small>
                    </div>
                    <form [formGroup]="signUpForm">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Company Name
                            </label>
                            <app-cm-input placeholder="Company Name" formControlName="companyName"></app-cm-input>
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                State
                            </label>
                            <app-cm-autoselect formControlName="state" (selectOut)="onSelect($event)">
                            </app-cm-autoselect>
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Email
                            </label>
                            <app-cm-input placeholder="Email Address" formControlName="email"></app-cm-input>
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Password
                            </label>
                            <app-cm-input class="border-0 focus:ring-0 outline-none px-3 py-2 w-full" placeholder="Password" type="password" formControlName="password"></app-cm-input>
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Retype Password
                            </label>
                            <app-cm-input class="border-0 focus:ring-0 outline-none px-3 py-2 w-full" placeholder="Password" type="password" formControlName="retypePassword"></app-cm-input>
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Contact Number
                            </label>
                            <app-cm-input placeholder="Contact Number" formControlName="contact"></app-cm-input>
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                                htmlFor="grid-password">
                                Upload Documents
                            </label>
                            <input type="file" class="w-full">
                        </div>

                        <div>
                            <label class="inline-flex items-center cursor-pointer">
                                <app-cm-checkbox formControlName="agree" label="I agree with the"
                                    linkLabel="Privacy Policy" linkUrl="javascript:void(0)">
                                </app-cm-checkbox>
                                <!-- <span class="ml-2 text-sm font-semibold text-blueGray-600">
                                    I agree with the
                                    <a href="javascript:void(0)" class="text-red-600">
                                        Privacy Policy
                                    </a>
                                </span> -->
                            </label>
                        </div>

                        <div class="text-center mt-6">
                            <button (click)="submitForm()" type="button"
                                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150">

                                Create Account
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>